{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if moodist_container_labels_traefik_enabled %}
traefik.enable=true

{% if moodist_container_labels_traefik_docker_network %}
traefik.docker.network={{ moodist_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if moodist_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ moodist_identifier }}-slashless-redirect.redirectregex.regex=^({{ moodist_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ moodist_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [moodist_identifier + '-slashless-redirect'] %}
{% endif %}

{% if moodist_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ moodist_identifier }}-strip-prefix.stripprefix.prefixes={{ moodist_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [moodist_identifier + '-strip-prefix'] %}
{% endif %}

{% if moodist_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in moodist_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ moodist_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [moodist_identifier + '-add-request-headers'] %}
{% endif %}

{% if moodist_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in moodist_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ moodist_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [moodist_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ moodist_identifier }}.rule={{ moodist_container_labels_traefik_rule }}
{% if moodist_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ moodist_identifier }}.priority={{ moodist_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ moodist_identifier }}.service={{ moodist_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ moodist_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ moodist_identifier }}.entrypoints={{ moodist_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ moodist_identifier }}.tls={{ moodist_container_labels_traefik_tls | to_json }}
{% if moodist_container_labels_traefik_tls %}
traefik.http.routers.{{ moodist_identifier }}.tls.certResolver={{ moodist_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ moodist_identifier }}.loadbalancer.server.port={{ moodist_container_http_port }}
{% endif %}

{{ moodist_container_labels_additional_labels }}
